{% extends "base.html" %}

{% block title %}Object {{ obj.id }} - IdeaV{% endblock %}

{% block extra_css %}
<script src="/js/freeze-table.js"></script>
<style>
    th { font-weight: normal; }
    .hidden { display: none !important; }
</style>
{% endblock %}

{% block content %}
<div class="alert alert-warning hidden" id="warn" role="alert"></div>

<div id="controls" style="z-index: 99; position: relative;" class="controls hidden">
    <div class="controls-left">
        <a onclick="$('#add').toggleClass('hidden');$('#controls').toggleClass('hidden');byId('t{{ obj.t }}').focus()" title="Create"><img class="icon8 icon8-0" src="https://img.icons8.com/ios/30/6495ED/plus.png"/></a>
        <a onclick="sendForm()" title="Refresh"><img class="icon8 icon8-0" src="https://img.icons8.com/ios/30/6495ED/refresh.png"/></a>
        <a onclick="tbCompact(false)" id="resize" class="hidden" title="Broad cell mode"><img class="icon8 icon8-0" src="https://img.icons8.com/ios/30/6495ED/resize.png"/></a>
        <a onclick="tbCompact(true)" id="collapse" title="Compact cell mode"><img class="icon8 icon8-0" src="https://img.icons8.com/ios/30/6495ED/collapse.png"/></a>
        <a onclick="if(byId('filter_row').classList.contains('hidden')) $('.filter_row').removeClass('hidden');else sendForm()" title="Show / apply filter"><img class="icon8 icon8-0" src="https://img.icons8.com/ios/30/6495ED/filter.png"/></a>
        <a href="/{{ db_name }}/object/{{ obj.id }}" title="Clear the filter and sort"><img class="icon8 icon8-0" src="https://img.icons8.com/ios/30/6495ED/clear-filters.png"/></a>
        <a title="References" onclick="byId('lnx').value=byId('lnx').value^1;sendForm()"><img class="icon8 icon8-0" src="https://img.icons8.com/ios/30/6495ED/flow-chart.png"/></a>
        <a title="Compact table mode" onclick="fun2('tb')"><img class="icon8 icon8-0" src="https://img.icons8.com/ios/30/6495ED/grid.png"/></a>
        <a title="Display full cell content" onclick="byId('full').value=byId('full').value?'':1;sendForm()"><img id="fullbtn" class="icon8 icon8-0" src="https://img.icons8.com/ios/30/6495ED/view-details.png"/></a>
        <a title="Export CSV format" onclick="byId('exp').name='csv';sendForm()"><img class="icon8 icon8-0" src="https://img.icons8.com/ios/30/6495ED/export-csv.png"/></a>
        <a title="Delete the selection" onclick="$('#controls').toggleClass('hidden');$('#confirm_del').toggleClass('hidden')"><img class="icon8 icon8-0" src="https://img.icons8.com/ios/30/6495ED/delete.png"/></a>
    </div>

    <div class="controls-right">
        <a onclick="$('.settings').toggleClass('hidden')" title="Control panel settings"><img class="icon8 icon8-0" src="https://img.icons8.com/ios/30/6495ED/settings.png"/></a>
        <select id="icon8color" style="background-color:#6495ED" onchange="icon8color(this)" class="settings form-control hidden">
            <option style="background-color:#6495ED" value="6495ED">blue</option>
            <option style="background-color:#2E8B57" value="2E8B57">green</option>
            <option style="background-color:#B03060" value="B03060">bordo</option>
            <option style="background-color:#777777" value="777777">light</option>
            <option style="background-color:#333333" value="333333">gray</option>
            <option style="background-color:#000000" value="000000">black</option>
        </select>
        <select id="icon8" onchange="icon8(this.value)" class="settings form-control hidden">
            <option value="ios">iOS</option>
            <option value="ultraviolet">UV</option>
            <option value="wired">cute</option>
            <option value="windows">Win</option>
            <option value="office">MSO</option>
            <option value="dotty">Doty</option>
            <option value="material-outlined">MD</option>
        </select>
    </div>
</div>

<TABLE id="confirm_del" class="controls hidden">
    <TR>
        <TD>
        <b>Confirm to delete the records&nbsp;&nbsp;&nbsp;&nbsp;</b>
        <button type="button" class="btn btn-sm btn-warning" onclick="byId('form').method='post';byId('exp').name='_m_del_select';sendForm('post')">&nbsp;Yes, delete&nbsp;</button>
        <button type="button" class="btn btn-sm btn-outline-secondary" onclick="$('#controls').toggleClass('hidden'); $('#confirm_del').toggleClass('hidden');">&nbsp;Cancel&nbsp;</button>
        </td>
    </tr>
</table>

<div id="add" class="hidden">
<FORM method="post" action="/{{ db_name }}/_m_new/{{ obj.id }}">
<input type="hidden" name="_xsrf" value="{{ session.xsrf_token or '' }}">
<input type="hidden" name="up" value="{{ obj.up }}">
<div class="input-group controls" style="max-width:640px">
    <input type="text" id="t{{ obj.t }}" name="t{{ obj.t }}" placeholder="{{ obj.val }}" class="form-control">
    <div class="input-group-append">
        <button type="submit" name="addbtn" class="btn btn-primary">Create</button>
        <button class="btn btn-outline-secondary" onclick="$('#controls').toggleClass('hidden');$('#add').toggleClass('hidden');event.preventDefault();">Cancel</button>
    </div>
</div>
</FORM>
</div>

<FORM id="form" class="freeze-table" method="get" ENCTYPE="multipart/form-data" action="/{{ db_name }}/object/{{ obj.id }}" onsubmit="sendForm()">
<div id="tableContainer">
<TABLE id="tb" class="table tb table-bordered">
    <thead>
    <tr>
        <th BGCOLOR="#E8F4FC" ALIGN="center" OnClick="$('.filter_row').toggleClass('hidden');"><A title="{{ obj.id }}" colid="val" HREF="/{{ db_name }}/object/{{ obj.id }}/?order_val=val" OnClick="event.stopPropagation();">{{ obj.val }}</A></th>
        {% for child in children %}
        {% if loop.first %}
        <th BGCOLOR="#E8F4FC" ALIGN="center" OnClick="$('.filter_row').toggleClass('hidden');"><A title="{{ child.t }}" colid="{{ child.t }}" HREF="/{{ db_name }}/object/{{ obj.id }}/?order_val={{ child.t }}" OnClick="event.stopPropagation();">Type</A></th>
        <th BGCOLOR="#E8F4FC" OnClick="$('.filter_row').toggleClass('hidden');">&nbsp;</th>
        {% endif %}
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    <TR id="filter_row" class="filter_row hidden">
        <th BGCOLOR="#E8F4FC" style="padding:0px;" align="center">
            <input type="text" name="F_val" value="" size="2" style="width:100%;">
        </th>
        <th BGCOLOR="#E8F4FC" style="padding:0px;" align="center">
            <input type="text" name="F_t" value="" size="2" style="width:100%;">
        </th>
        <TD BGCOLOR="#E8F4FC" style="padding:0px;">&nbsp;</TD>
    </TR>
    {% for child in children %}
    <TR>
        <th ALIGN="left"><A style="display:block" HREF="/{{ db_name }}/edit_obj/{{ child.id }}" TITLE="Edit">{{ child.val }}</A></th>
        <TD ALIGN="left">{{ child.t }}&nbsp;</TD>
        <TD ALIGN="CENTER" style="padding:1px; white-space:nowrap;">
            <A href="#" onclick="post('_m_del/{{ child.id }}?up={{ obj.t }}&f_u={{ obj.id }}')" TITLE="Delete"><img class="icon8 icon8-0" src="https://img.icons8.com/ios/25/ee0000/delete-sign.png"></A>
        </TD>
    </TR>
    {% endfor %}
    </tbody>
</TABLE>
</div>

<input type="hidden" name="F_I" value="">
<input type="hidden" name="F_U" value="{{ obj.id }}">
<input type="hidden" id="exp" name="" value="1">
<input type="hidden" id="lnx" name="lnx" value="0">
<input type="hidden" id="full" name="full" value="">
<input type="hidden" id="order_val" name="order_val" value="">
<input type="hidden" id="desc" name="desc" value="">
<input type="hidden" name="_xsrf" value="{{ session.xsrf_token or '' }}">
<input type="submit" name="prompt" class="btn btn-sm btn-primary hidden">
</FORM>

<script>
var state=false;
function sendForm(method){
    var dupes=[];
    $('#form').find('input, textearea, select').each(function(){
        if(this.value==''||(this.name=='_xsrf' && method!='post'))
            $(this).remove();
        if(dupes[this.name]!==undefined)
            $(this).remove();
        else
            dupes[this.name]=1;
    });
    byId('form').onsubmit='';
    byId('form').submit();
}

function icon8(v) {
    document.cookie = 'icon8='+v+'; path=/'+db+'; max-age=31622400'
    var iconsCollection = document.querySelectorAll('.icon8');
    iconsCollection.forEach(icon => {
        icon.attributes['src'].value = icon.attributes['src'].value.replace(/(img\.icons8\.com\/).+?(\/)/,'$1'+v+'$2')
    })
}

function icon8color(el) {
    el.style.backgroundColor='#'+el.value;
    document.cookie = 'icon8color='+el.value+'; path=/'+db+'; max-age=31622400'
    var iconsCollection = document.querySelectorAll('.icon8');
    iconsCollection.forEach(icon => {
        icon.attributes['src'].value = icon.attributes['src'].value.replace(/(\/30\/).{6,6}(\/)/,'$1'+el.value+'$2')
    })
    document.getElementById('controls').classList.contains('hidden') &&
        $('#controls').toggleClass('hidden')
}

function recalculateTable(mode) {
    let options = {
        'scrollBar': true,
        'shadow': true,
        'fixedNavbar': '.controls'
    }

    if (mode === 'compact') {
        options.freezeColumn = false;
    }
    $(function() {
        $('#tableContainer').freezeTable(options);
    });
}

function tbCompact(mode){
    if(mode){
        byId("tb").classList.add('table-sm');
        $('#collapse').toggleClass('hidden');
        $('#resize').toggleClass('hidden');
        document.cookie='table-sm=1; path=/'+db+'/object/{{ obj.id }}; max-age=31622400';
        recalculateTable();
    }
    else{
        byId("tb").classList.remove('table-sm');
        $('#resize').toggleClass('hidden');
        $('#collapse').toggleClass('hidden');
        document.cookie='table-sm=1; path=/'+db+'/object/{{ obj.id }}; max-age=0';
        recalculateTable();
    }
}

var compactTogglerStyle =  `
@media screen and (max-width:800px){
    td, th {
        display: block;
        float: left;
        border: 1px solid #c8c8c8;
    }
    tr {
        border: 1px solid #c8c8c8;
    }
    thead {
        display: block;
        background-color: #fff;
        position: sticky;
        top: 0;
    }
    td div {
        min-height: 1.6rem;
        line-height: 1.6rem;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
    .clone-scroll-bar-wrap {
        pointer-events: none;
    }
`

var compactMode = (tableID) => {
    var table = document.getElementById(tableID)
    table.classList.add('table-sm')
    var tbHeader = table.childNodes[1]
    var tbBody = table.childNodes[3]
    var headerCollection = tbHeader.childNodes[1].childNodes
    var rowCollection = tbBody.childNodes
    var thWidthes = {};
    var tdWidthes = {};
    headerCollection.forEach((th, index) => {
        if (th.offsetWidth) {
            thWidthes[index] = th.offsetWidth;
        }
    })

    rowCollection.forEach((row, k) => {
        if (row.offsetWidth && !row.id.length) {
            row.childNodes.forEach((child, i) => {
                if (child.offsetWidth) {
                    if (!tdWidthes[i] || tdWidthes[i] < child.offsetWidth) {
                        tdWidthes[i] = child.offsetWidth
                    }
                }
            })
            row.childNodes.forEach((child, i) => {
                if (child.offsetWidth && thWidthes[i] > child.offsetWidth) {
                    child.style.width = `${thWidthes[i]}px`
                } else if (headerCollection[i] && headerCollection[i].offsetWidth) {
                        headerCollection[i].style.width = `${tdWidthes[i]}px`
                }
            })
        }
    })
    var thNodes = document.querySelectorAll('#tb thead th');
    thNodes.forEach((node, index) => {
        if (thNodes[index + 1] && (thNodes[index + 1].offsetTop !== node.offsetTop)) {
            node.style.width = `${node.offsetWidth + (node.parentNode.offsetWidth - node.offsetWidth - node.offsetLeft)}px`
        } else if (index === thNodes.length - 1) {
            node.style.width = `${node.offsetWidth + (node.parentNode.offsetWidth - node.offsetWidth - node.offsetLeft)}px`
        }
    })
}

function fun2(id) {
    let table = document.getElementById(id);
    var style = document.createElement('style')
        if (!state) {
            style.innerText = compactTogglerStyle;
            document.head.appendChild(style)
            compactMode(id);
            compactMode(id);
            compactMode(id);
            recalculateTable('compact');
            state = true;
            table.classList.add("striped-table");
        }
        else {
            table.classList.add('table')
            document.head.removeChild(document.head.lastChild);
            recalculateTable();
            state = false;
        }
    }

window.addEventListener('load',function(){
    if(getCookie('table-sm'))
        tbCompact(true);
    Object.defineProperty(Array.prototype, 'chunk_inefficient', {
        value: function(chunkSize) {
          var array = this;
          return [].concat.apply([],
            array.map(function(elem, i) {
              return i % chunkSize ? [] : [array.slice(i, i + chunkSize)];
            })
          );
        }
      });
      recalculateTable();
});

$(document).ready(function(){
    if(getCookie('icon8')){
        byId('icon8').value=getCookie('icon8');
        icon8(byId('icon8').value);
    }
    if(getCookie('icon8color')){
        byId('icon8color').value=getCookie('icon8color');
        icon8color(byId('icon8color'));
    } else {
        $('#controls').toggleClass('hidden')
    }
});
</script>
{% endblock %}
