<style>
label {
    font-size: 90%;
    color: gray;
}
.dict-title{
    /*max-width: 900px;*/
    padding: 20px 0 10px 0;
    font-size: 24px;
    line-height: 24px;
    color: #172D4E;
    display: block;
}
.comp-control {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.hidden {
    display:none;
}
.btn-xs {
    padding: 1px 5px;
    line-height: 1.5;
    border-radius: 3px;
}
</style>
<div class="container">
<!-- Begin:&Warnings --><div class="alert alert-danger" role="alert">{WARNING}</div>
<!-- End:&Warnings -->
<!-- Begin:_Msg --><div class="alert alert-{_request_.LEVEL}" role="alert">{_request_.TEXT}</div>
<!-- End:_Msg -->
<!-- Begin:&Object -->
<script>
var enable_save;
</script>
<div id="messages" class="msgs" onclick="this.innerHTML=''"></div>
<div class="row p-1">
<div class="col-12 col-lg-10 col-xl-8" style="min-width: 348px;">
<FORM id="form" method="post" action="/{_global_.z}/_m_save/{ID}" ENCTYPE="multipart/form-data" ONSUBMIT="savebtn.disabled = true; return true;">
<input type="hidden" name="_xsrf" value="{_global_.xsrf}">
    <div class="dict-title">
        {TYP_NAME} <font color="lightgray" onclick="copyId({ID})">#{ID} <span id="copied" style="display:none;" class="text-nowrap">(cкопировано в буфер)</span></font>
        <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg" class="float-right" onclick="gridMode(true)">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M4.5 5C4.5 4.72386 4.72386 4.5 5 4.5H12C12.2761 4.5 12.5 4.72386 12.5 5V12C12.5 12.2761 12.2761 12.5 12 12.5H5C4.72386 12.5 4.5 12.2761 4.5 12V5ZM5.5 5.5V11.5H11.5V5.5H5.5ZM15.5 5C15.5 4.72386 15.7239 4.5 16 4.5H23C23.2761 4.5 23.5 4.72386 23.5 5V12C23.5 12.2761 23.2761 12.5 23 12.5H16C15.7239 12.5 15.5 12.2761 15.5 12V5ZM16.5 5.5V11.5H22.5V5.5H16.5ZM4.5 16C4.5 15.7239 4.72386 15.5 5 15.5H12C12.2761 15.5 12.5 15.7239 12.5 16V23C12.5 23.2761 12.2761 23.5 12 23.5H5C4.72386 23.5 4.5 23.2761 4.5 23V16ZM5.5 16.5V22.5H11.5V16.5H5.5ZM15.5 16C15.5 15.7239 15.7239 15.5 16 15.5H23C23.2761 15.5 23.5 15.7239 23.5 16V23C23.5 23.2761 23.2761 23.5 23 23.5H16C15.7239 23.5 15.5 23.2761 15.5 23V16ZM16.5 16.5V22.5H22.5V16.5H16.5Z" fill="#1A1A1A"></path>
        </svg>
    </div>
	<!-- Begin:_Tab --><input type="hidden" name="tab" value="{_request_.tab}">
	<!-- End:_Tab -->
	<!-- Begin:_Next --><input id="next_act" type="hidden" name="next_act" value="{_request_.next_act}">
	<!-- End:_Next -->



    <!-- Begin:&Edit_Req --><div class="row"><div class="pb-3 col-12"><input type="{TYPE}" id="t{TYP}" name="t{TYP}" value="{_parent_.VAL}" {_parent_.DISABLED} class="form-control"></div></div>
	<!-- End:&Edit_Req -->
	<!-- Begin:&EditReq_REPORT_COLUMN -->
		<select id="t{TYP}" name="t{TYP}" {_parent_.DISABLED} class="form-control">
			<!-- Begin:&Rep_Col_List --><option value="{ID}" {SELECTED}>{VAL}</option>
			<!-- End:&Rep_Col_List -->
		</select>
		<script>
		    $(document).ready(function(){
		        $("input[name='t100']").each(function(){
                   if($(this).val()=="")
                      $(this).val($( "#t{TYP} option:selected" ).text())
                 });
		    });
		</script>
	<!-- End:&EditReq_REPORT_COLUMN -->
	<!-- Begin:&EditReq_GRANT -->
		<select id="t{TYP}" name="t{TYP}" {_parent_.DISABLED} class="form-control">
			<!-- Begin:&Grant_List --><option value="{ID}" {SELECTED}>{VAL}</option>
			<!-- End:&Grant_List -->
		</select>
	<!-- End:&EditReq_GRANT -->
	<div style="height:5px; "></div>

    <div id="tabs">
	<ul class="nav tab-tabs" >
		<!-- Begin:&Tabs --><li class="tab-item"><a {CLASS} href="/{_global_.z}/edit_obj/{_parent_.id}/?tab={TAB}">{VAL}</a></li>
		<!-- End:&Tabs -->
	</ul>
	</div>

		<div class="form-row no-gutters">
		<!-- Begin:&Object_Reqs -->
			<label class="t9n" for="t{TYP}">
				<!-- Begin:&Nullable_Req --><A TITLE="<t9n>[RU]Обязательный реквизит![EN]Mandatory attribute!</t9n>" NAME="{NOT_NULL}"><FONT COLOR="RED"><b>
				<!-- End:&Nullable_Req -->
				{TYP_NAME}
				<!-- Begin:&Nullable_Req_close --><!--{NOT_NULL}--></b></FONT></A>
				<!-- End:&Nullable_Req_close -->
        		{ENABLE_SAVE}
			</label>
			<!-- Begin:&EditReq_REFERENCE -->
			<div class="comp-control pb-3 col-12 col-sm-8 col-md-6 t9n">
				<div class="form-group" style="display: flex; margin-bottom: 0">
				    <select id="t{TYP}" name="t{TYP}" {DISABLED} class="form-control">
    				    <option> </option>
        				<!-- Begin:&Add_Obj_Ref_Reqs --><option value="{ID}" {SELECTED} r="{R}">{VAL}</option>
        				<!-- End:&Add_Obj_Ref_Reqs -->
        				</select>
    				<!-- Begin:&Seek_Refs --><input class="form-control" type="text" name="SEARCH_{_parent_.TYP}" value="{SEARCH}"><input type="hidden" name="PREV_SEARCH_{_parent_.TYP}" value="{SEARCH}"><!-- End:&Seek_Refs -->
    				<!-- Begin:&Ref_Create_Granted -->
				    <div class="input-group-append" style="display: inline-block; float: left;">
				        <a id="p{TYP}" onclick="byId('NEW_{TYP}').style.display='block'; this.style.display='none'; byId('m{TYP}').style.display='block'; byId('NEW_{TYP}').focus();">
    					<button type="button" class="btn btn-outline-secondary">+</button></a>
    					<a id="m{TYP}" onclick="this.style.display='none'; byId('p{TYP}').style.display='inline-block'; byId('NEW_{TYP}').style.display='none'; byId('NEW_{TYP}').value=''" style="display:none; ">
					<button type="button" class="btn btn-outline-secondary">&mdash;</button></a>
				    </div>
				    <input class="form-control" type="text" id="NEW_{TYP}" name="NEW_{TYP}" placeholder="<t9n>[RU]Добавить[EN]Add</t9n> '{_parent_.TYP_NAME}'" style="display:none; ">
				<!-- End:&Ref_Create_Granted -->
    		    </div>
		    </div>
			<!-- End:&EditReq_REFERENCE -->
			<!-- Begin:&EditReq_ARRAY -->
			<div class="comp-control pb-3 col-6 col-sm-4 col-md-3">
			    <A id="t{TYP}" href="/{_global_.z}/object/{TYP}/?F_U={_parent_.ID}"><B>({_parent_.ARR_NUM})</B></A>
				<!-- Begin:&ARRAY_val --> <input class="form-control" type="text" name="t{_parent_.TYP}" value="{VAL}"><!-- End:&ARRAY_val -->
		    </div>
			<!-- End:&EditReq_ARRAY -->
			<!-- Begin:&EditReq_SHORT -->
			<div class="comp-control pb-3 col-12 col-sm-4 col-md-3">
                <input class="form-control" type="text" id="t{TYP}" name="t{TYP}" value="{VAL}" {DISABLED}>
		    </div>
			<!-- End:&EditReq_SHORT -->
			<!-- Begin:&EditReq_MEMO -->
			<div class="comp-control pb-3 col-12">
			    <TEXTAREA class="form-control" id="t{TYP}" name="t{TYP}" {DISABLED}>{VAL}</TEXTAREA>
		    </div>
			<!-- End:&EditReq_MEMO -->
			<!-- Begin:&EditReq_HTML -->
			<div class="pb-3 col-12">
    			<TEXTAREA class="form-control" id="t{TYP}" name="t{TYP}" {DISABLED}>{VAL}</TEXTAREA>
		    </div>
			<!-- End:&EditReq_HTML -->
			<!-- Begin:&EditReq_CHARS -->
			<div class="pb-3 col-12">
    			<input class="form-control" type="text" id="t{TYP}" name="t{TYP}" value="{VAL}" {DISABLED}>
		    </div>
			<!-- End:&EditReq_CHARS -->
			<!-- Begin:&EditReq_FILE -->
			<div class="pb-3 col-12 col-sm-9 col-md-6 pt-1">
    			<span class="file-{REQID}">{VAL}</span><a class="ml-3 del-file-{REQID} hidden{REQID}" onclick="$('.del-file-{REQID}').toggle()"><svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 8H23M10 8V6C10 5.46957 10.2107 4.96086 10.5858 4.58579C10.9609 4.21071 11.4696 4 12 4H16C16.5304 4 17.0391 4.21071 17.4142 4.58579C17.7893 4.96086 18 5.46957 18 6V8M21 8V22C21 22.5304 20.7893 23.0391 20.4142 23.4142C20.0391 23.7893 19.5304 24 19 24H9C8.46957 24 7.96086 23.7893 7.58579 23.4142C7.21071 23.0391 7 22.5304 7 22V8H21Z" stroke="#1A1A1A" stroke-linecap="round" stroke-linejoin="round"/></svg></a>
                    <span class="del-file-{REQID} del-file-wait-{REQID}" style="display:none;"><a class="ml-3 btn btn-xs btn-outline-secondary" onclick="$('.del-file-{REQID}').toggle();">Отменить</a>
                        <a class="ml-3 pl-3 pr-3 btn btn-xs btn-outline-secondary text-dark btn-warning" onclick="myApi('POST','_m_set/{_parent_.ID}?JSON&t{TYP}=','del-file','','{REQID}');$('.del-file-wait-{REQID}').toggle()">Удалить</a>
                    </span>
                    <img class="del-file-wait-{REQID}" style="display:none;" src="/i/ajax.gif">
    			<input class="form-control-file mt-2" type="file" id="t{TYP}" name="t{TYP}" value="" {DISABLED}>
		    </div>
			<!-- End:&EditReq_FILE -->
			<!-- Begin:&EditReq_DATE -->
			<div class="comp-control pb-3 col-6 col-sm-4 col-md-3">
    			<input class="form-control datepicker" type="date" id="t{TYP}" name="t{TYP}" value="{VAL}" {DISABLED}>
		    </div>
			<!-- End:&EditReq_DATE -->
			<!-- Begin:&EditReq_DATETIME -->
			<div class="comp-control pb-3 col-6 col-sm-6 col-md-4">
    			<input class="form-control" type="datetime-local" id="t{TYP}" step="1" name="t{TYP}" data="DATETIME" value="{VAL}" {DISABLED}>
		    </div>
			<!-- End:&EditReq_DATETIME -->
			<!-- Begin:&EditReq_SIGNED -->
			<div class="comp-control pb-3 col-6 col-sm-4 col-md-3">
    			<input class="form-control" type="text" id="t{TYP}" name="t{TYP}" value="{VAL}" {DISABLED}>
		    </div>
			<!-- End:&EditReq_SIGNED -->
			<!-- Begin:&EditReq_BOOLEAN -->
			<div class="comp-control pb-3 col-6 col-sm-4 col-md-3">
    			<input class="form-control" type="checkbox" id="t{TYP}" name="t{TYP}" value="1" {CHECKED} {DISABLED}/><input type="hidden" name="b{TYP}" value="1">
		    </div>
			<!-- End:&EditReq_BOOLEAN -->
			<!-- Begin:&EditReq_NUMBER -->
			<div class="comp-control pb-3 col-6 col-sm-4 col-md-3">
    			<input class="form-control" type="text" id="t{TYP}" name="t{TYP}" value="{VAL}" {DISABLED}>
		    </div>
			<!-- End:&EditReq_NUMBER -->
			<!-- Begin:&EditReq_CALCULATABLE -->
			<div class="comp-control pb-3 col-12 col-sm-9 col-md-10">
    			{VAL}
		    </div>
			<!-- End:&EditReq_CALCULATABLE -->
			<!-- Begin:&EditReq_PWD -->
			<div class="comp-control pb-3 col-6 col-sm-4 col-md-3">
    			<input type="text" class="form-control" value={VAL} readonly/>
		    </div>
			<!-- End:&EditReq_PWD -->
		<!-- End:&Object_Reqs -->
		</div>

    <div id="extras"></div>

    <div id="buttons" class="pt-3 pb-2">
		<!-- Begin:&Buttons --><A HREF="/{_global_.z}/{ATTRS}"><button type="button" class="btn btn-secondary btn-sm mb-1 mr-1">{VAL}</button></A>
		<!-- End:&Buttons -->
	</div>

    <div class="row t9n" style="padding: 0 5px 5px 15px;">
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 p-0 pr-2 copy-dub">
		    <input {DISABLED} id="savebtn" type="submit" name="savebtn" class="btn btn-primary btn-block mb-2" value="<t9n>[RU]Сохранить[EN]Save</t9n>">
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 p-0 pr-2 copy-dub">
		    <input {DISABLED} type="submit" name="copybtn" class="btn btn-outline-secondary btn-block mb-2" value="<t9n>[RU]Дублировать[EN]Duplicate</t9n>">
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 p-0 pr-2 undo-btn">
		    <A id="cancel" HREF="/{_global_.z}/object/{TYP}/?canc1&F_U={UP}&F_I={ID}"><button type="button" class="btn btn-outline-secondary btn-block mb-2"><t9n>[RU]Отменить[EN]Cancel</t9n></button></A>
		</div>
		<div class="col-6 col-sm-4 col-md-3 col-xl-3 p-0 pr-2 del-btn">
		    <button {DISABLED} type="button" class="btn btn-warning btn-block mb-2" onclick="$('.copy-dub').hide(); $('.undo-btn, .del-btn').hide(); $('.confirm-del').show();"><t9n>[RU]Удалить[EN]Delete</t9n></button>
		</div>
	</div>
	<div class="confirm-del" style="display:none; border:2px #f0ad4e solid; -moz-border-radius: 10px; -webkit-border-radius:10px; -khtml-border-radius:10px; border-radius:10px; padding:6px; ">
	    <p><b><t9n>[RU]Подтвердите удаление записи[EN]Confirm to delete</t9n> {VAL}</b></p>
	    <div class="row" style="padding: 0 5px 5px 15px;">
			<div class="col-6 col-sm-4 col-md-3 col-xl-3 p-0 pr-2">
			    <button type="button" class="btn btn-warning btn-block mb-2" onclick="post('_m_del/{ID}')"><t9n>[RU]Да, удалить[EN]Yes, delete</t9n></button>
			</div>
			<div class="col-6 col-sm-4 col-md-3 col-xl-3 p-0 pr-2">
			    <button type="button" class="btn btn-outline-secondary btn-block  mb-2" onclick="$('.copy-dub').show(); $('.undo-btn, .del-btn').show(); $('.confirm-del').hide();">&nbsp;<t9n>[RU]Отмена[EN]Cancel</t9n>&nbsp;</button>
			</div>
		</div>
	</div>
</FORM>
<div id="external"></div>
</div>
<div id="external_row"></div>
</div>
<script>
if(enable_save!==undefined)
    byId('savebtn').disabled=false;
function gridMode(m){
    if(getCookie('gridMode'+type)&&m){
        document.cookie='gridMode'+type+'=1; path=/'+db+'; max-age=-1';
        document.querySelectorAll(".comp-control").forEach(child => {
            $(child).attr('class',$(child).attr('comp-class'));
        });
    }
    else{
        document.cookie='gridMode'+type+'=1; path=/'+db+'; max-age=31622400';
        document.querySelectorAll(".comp-control").forEach(child => {
            $(child).attr('comp-class',$(child).attr('class')).attr('class','comp-control pb-3 col-12')
        });
    }
}
function copyId(i){
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val(i).select();
    document.execCommand("copy");
    $temp.remove();
    $('#copied').show().delay(2500).slideUp(400);
}
var type={TYP},typeName='{TYP_NAME}',up={UP};
$(document).ready(function(){
    $('#t{TYP}').focus();
});

let style = document.createElement('style')
style.innerHTML = `
   label {
        display: inline;
        margin-top: .5rem;
        margin-bottom: 0;
    }
    input[type=checkbox] {
        width: 38px;
    }
    div[class^="col-"] {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
`
document.getElementsByTagName('head')[0].appendChild(style)
let labels = [], formGroups = [];
document.addEventListener('DOMContentLoaded', function() {
    if(getCookie('gridMode'+type)==1)
        gridMode(false);
    if(byId('t'+type).type=='date')
        byId('t'+type).valueAsDate = moment.utc(byId('t'+type).getAttribute('value'), 'DD.MM.YYYY').toDate();
    let formContainer = document.querySelector('.no-gutters');
    formContainer.childNodes.forEach(child => {
        if (!(child instanceof Text)) {
            if(child.nodeName === 'LABEL')
                labels.push(child);
            else
                formGroups.push(child);
        }
    })
    formGroups.forEach((group, i) => {
        if (group.childNodes[1] && group.childNodes[1].type === 'date')
            group.childNodes[1].valueAsDate = moment.utc(group.childNodes[1].getAttribute('value'), 'DD.MM.YYYY').toDate();
        
        if (group.childNodes[1] && group.childNodes[1].type === 'datetime-local' && group.childNodes[1].getAttribute('data'))
            group.childNodes[1].valueAsNumber = moment.utc(group.childNodes[1].getAttribute('value'), 'DD.MM.YYYY hh:mm:ss').valueOf();
        
        if (group.childNodes[1] && group.childNodes[1].type !== 'checkbox1')
            group.insertBefore(labels[i], group.childNodes[1]);
        else{
            group.appendChild(labels[i]);
            group.style.display = 'block';
        }
    })
}, false);
function myApi(m,u,b,vars,index){ // Параметры: метод, адрес, действие - ветка switch, параметры
    vars=vars||''; // По умолчанию список параметров пуст
    var h='',i,json,obj=new XMLHttpRequest(); // Объявляем переменную под JSON и API по HTTPS
    obj.open(m,'/'+db+'/'+u,true); // Открываем асинхронное соединение заданным методом по нужному адресу
    if(m=='POST'){ // Если это POST запрос, то передаем заданные параметры
        obj.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
        vars='_xsrf='+xsrf+'&'+vars; // добавляем токен xsrf, необходимый для POST-запроса
        obj.send(vars); // отправляем параметры
    }
    else
        obj.send(); // отправили запрос и теперь будем ждать ответ, а пока - выходим
    obj.onload=function(e){ // Когда запрос вернет результат - сработает эта функция
        try{ // в this.responseText лежит ответ от сервера
            json=JSON.parse(this.responseText); // Пытаемся разобрать ответ как JSON
        }
        catch(e){ // Если произошла ошибка при разборе JSON
            console.log(e); // то выводим детали этой ошибки в консоль браузера
            byId('messages').innerHTML='<div class="alert alert-danger" role="alert">'+this.responseText+'</div>';
            setTimeout(function(){byId('messages').innerHTML=''},7000);
        }
        obj.abort(); // Закрываем соединение
        switch(b){ // Отрабатываем заданную команду - переходим в соответствующую ветку case
            case 'del-file':
                if(json&&json.id)
                    $('.file-'+index+',.del-file-wait-'+index+',.del-file-'+index).remove();
                else{
                    if(json.error)
                        byId('messages').innerHTML='<div class="alert alert-danger" role="alert">Ошибка: '+(json.error||'')+'</div>';
                    else
                        byId('messages').innerHTML='<div class="alert alert-danger" role="alert">Ошибка '+json+'</div>';
                    setTimeout(function(){byId('messages').innerHTML=''},7000);
                    $('.del-file-wait-'+index).toggle();
                    $('.del-file-'+index).toggle();
                }
                break;
        }
    }
}

</script>
<!-- End:&Object -->
</div>